<header>
    <div class="container">
      <h1><a href="/">Simple Blog</a></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/posts/new" class="btn">New Post</a></li>
        </ul>
      </nav>
    </div>
  </header>